
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instagram Reach Forecasting</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>Insta Reach Predictor</h1>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; 2025 InstaReach Inc.</p>
  </footer>

</body>
</html>

